html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

nav {
  background: rgb(190, 46, 46);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

main {
  width: 900px;
  margin: auto;
  height: 100%;
}

.showid{
  display:none;
}
